/*  ŒÃÃ≈Õ“¿–»» */
TABLE.com {width: 660px; border-radius: 10px; background-color: #102F01;	border: none #102F01;}
TABLE.com_otr {width: 660px; border-radius: 10px; background-color: #fe0000;	border: none #102F01;}
TABLE.com_pol {width: 660px; border-radius: 10px; background-color: #102F01;	border: 2px solid #fe4700;}
TD.com { border-radius: 10px; font-size: 13px; background-color: #E6E6FA;	padding-left : 14px;	padding-right : 14px; padding-bottom : 10px;	padding-top : 10px;}
TD.verh {width: 530px;}
TABLE.add_com {font-size: 11px;	border-radius: 10px;	background-color: #DAFFBD;	border: solid #102F01; width: 55%;	padding: 2px 2px 2px 2px;	color: Black;}
.town {font-size: 11px; color: #E6E6FA;}
.com_date {font-size: 11px; font-weight: bold; padding: 0px 10px; color: white;}
.com_author {border-radius: 5px; font-size: 11px;	color: #fe4700; font-weight: bold; padding: 1px 8px 1px 8px; background-color: Black;}
.com_moderator {border-radius: 5px; font-size: 11px;	color: #fe4700; font-weight: bold; padding: 1px 8px 2px 8px; background-color: Black; border: 1px solid #fe4700;}


/* «¿ –≈œÀ®ÕÕ€≈  ŒÃÃ≈Õ“¿–»»: */
TABLE.com_zakrep {width: 660px;border-radius: 10px; background-color: #111111;	border: none #104F00;}
TD.com_zakrep {	border-radius: 10px; font-size: 13px; background-color: #E6E6FA;	padding-left : 14px;	padding-right : 14px; padding-bottom : 10px;	padding-top : 10px;}
TD.verh_zakrep {width: 530px;}


/*  ÕŒœ ¿ "ƒÓ·‡‚ËÚ¸ ÒÓÓ·˘ÂÌËÂ": */
a.button2 {	text-decoration: none; font: bold 12px/1.5 Comic Sans MS, Helvetica, Arial, sans-serif; color: #fe4700; background: #0A1C00; border: 2px solid #EDFFDF; height: 24px; width: 175px;
margin: 0px 0 0 0px; overflow: hidden; display: block; text-align: center; line-height: 24px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)); background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)); background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
-webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2); box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2); /*“ÂÌ¸*/
-webkit-transition: All 0.5s ease; -moz-transition: All 0.5s ease; -o-transition: All 0.5s ease; -ms-transition: All 0.5s ease; transition: All 0.5s ease; /*œÂÂıÓ‰*/
}
a.button2:hover { text-decoration: none; background-color: #FF814A; color: #0A1C00;	font: bolder; }


/* œŒƒ— ¿« » ƒÀﬂ Œ÷≈Õ »  ŒÃÃ≈Õ“¿–»≈¬: */
.hk2 { cursor: default; text-decoration: none; position: relative; color: green; }
.hk2 span { font-weight: bold; text-align: center; visibility: hidden; position: absolute; bottom: 15px; left: 0%; width: 130px; margin-left: 0px; padding: 10px; border: 1px solid #EDFFDF;
opacity: .99; background-color: #102F01; color: #EDFFDF; -moz-border-radius: 10px; border-radius: 10px; }
.hk2:hover { color: #102F01; text-decoration: none; border: 0; /* IE6 fix */ }
.hk2:hover span { visibility: visible;}
.hk3 { cursor: default; text-decoration: none; position: relative; color: red; }
.hk3 span { font-weight: bold; text-align: center; visibility: hidden; position: absolute; bottom: 15px; left: 0%; width: 100px; margin-left: 0px; padding: 10px; border: 1px solid #EDFFDF;
opacity: .99; background-color: #102F01; color: #EDFFDF; -moz-border-radius: 10px; border-radius: 10px; }
.hk3:hover {color: red; text-decoration: none; border: 0; /* IE6 fix */ }
.hk3:hover span { visibility: visible;}