/* ÷¬≈“¿:
ÙÓÌ ÏÂÌ˛ (˜ÂÌÓ-ÁÂÎÂÌ˚È): #0A1C00
ÙÓÌ1 (ÚÂÏÌÓ-ÁÂÎÂÌ˚È): #102F01 
ÙÓÌ ÒÚ‡ÌËˆ (Ò‚ÂÚÎÓ-ÒÂ˚È): #EDFFDF
ÙÓÌ ‚ÒÚ‡‚ÓÍ-·ÎÓÍÓ‚ (Ò‚ÂÚÎÓ-ÁÂÎÂÌ˚È): #DAFFBD
*/

TD {font-family: Verdana, Geneva, Arial;}

.s_list {width: 100%; font-size: 13px; border-radius: 10px;	background-color: #DAFFBD;	border: solid #0A1C00; margin-top: 3px;	padding: 5px 10px 5px 10px;}
.sport_event {width: 100%;	border-radius: 10px;	background-color: #DAFFBD;	border: solid #0A1C00; margin-top: 3px;	padding: 5px 10px 5px 10px;	font: 13px;}
.date {font-size: x-small;	text-decoration: underline;}
hr { color: #c7d3bd; background-color: #c7d3bd; height: 1px; border: none; }


/* —“–¿Õ»÷¿ */
TD.page {border-radius: 10px; font-family: Verdana;	font-size: 13px;	background-color : #EDFFDF;	vertical-align : top;}
BODY {FONT-FAMILY: verdana, arial, helvetica;	FONT-SIZE: 13px;	background-color : #6F6F6F;}
TABLE.left {background-color : #102F01;}
.page1 {width: 95%;	padding-left: 20px;	text-align : justify;}


/* ¡ÀŒ  ¬¬≈–’” Head */
.logo { border-radius: 5px;	background-color: #001800;	border: 2px solid Silver;	padding: 1px 1px 1px 1px; }
A.img { text-decoration: none; }
A.img:hover { text-decoration: none; font-weight: lighter; }
A.img_beg { background: url(/img/_beg.gif); display: block; width: 43px; height: 50px; }
A.img_beg:hover { background: url(/img/_beg1.gif); }
A.img_mtb { background: url(/img/_mountainbike.gif); display: block; width: 65px; height: 50px; }
A.img_mtb:hover { background: url(/img/_mountainbike1.gif); }
A.img_frdv { background: url(/img/_freediving.gif); display: block; width: 93px; height: 50px; }
A.img_frdv:hover { background: url(/img/_freediving1.gif); }
A.img_snowboard { background: url(/img/_snowboard.gif); display: block; width: 58px; height: 50px; }
A.img_snowboard:hover { background: url(/img/_snowboard1.gif); }
A.img_hockey { background: url(/img/_hockey.gif); display: block; width: 50px; height: 50px; }
A.img_hockey:hover { background: url(/img/_hockey1.gif); }



A.nws { color: #EDFFDF; font-weight: bold;  font-size: 13px; text-decoration: none; }
A.nws:hover { color: black;	font-weight: bold;	background-color: #EDFFDF; text-decoration: none; }


/* «¿√ŒÀŒ¬ » */
h1 {	letter-spacing: 1px;	font-size: 16px; display: inline; text-shadow: 2px 2px 4px rgba(0,0,0,0.5); }
.hh {	letter-spacing: 1px;	font-size: 16px; display: inline; text-shadow: 2px 2px 4px rgba(0,0,0,0.5); }
h2.sm {display: inline; font-size: 13px; text-shadow: 3px 3px 4px rgba(0,0,0,0.3); font-weight: bold; } /* ‡Á‰ÂÎ˚ ÒÚ‡ÚÂÈ-ÓÚ˜ÂÚÓ‚-˝ÍÒÔÂËÏÂÌÚÓ‚ */
h1.title {text-decoration: underline; font-weight: bold; font-size: 18px; font-family: Verdana; display: inline;}
h1.z_st { font-weight: bold; font-size: 18px; font-family: Verdana; display: inline; text-shadow: 2px 3px 4px rgba(0,0,0,0.3), 5px 6px 6px rgba(0,0,0,0.1); }
/* «‡„ÓÎÓ‚ÍË ‚ ÒÚ‡Ú¸ˇı: */
.z1 {  text-shadow: 1px 1px 1px rgba(0,0,0,0.4); font-weight: bold; }
h2.z1 {  text-shadow: 1px 1px 1px rgba(0,0,0,0.4); font-weight: bold; font-size:13px; text-align: center; }
h3.z1 {  text-shadow: 1px 1px 1px rgba(0,0,0,0.4); font-weight: bold; font-size:13px; text-align: center; margin: 0 auto; }
.z1_2 {  text-shadow: 1px 1px 1px rgba(0,0,0,0.2); font-weight: bold; }
.z2 {  text-shadow: 1px 1px 1px rgba(0,0,0,0.2); font-weight: bold; font-style: italic; }


/* œŒ—“–¿Õ»◊Õ¿ﬂ Õ¿¬»√¿÷»ﬂ */
.pstrnav {font-size: 11px;	padding: 0px 10px 3px 15px; color:#424242;}
.pstrnav a {color: #003300; font-weight: bold; font-size:10px;}
.pstrnav a:hover {color: #fe4700; font-weight: bold; background-color : Black;}


/* —“¿“‹»-Œ“◊≈“€-› —œ≈–»Ã≈Õ“€ */
TABLE.back {border-radius: 10px;	background-color: #0A1C00;	width: 100%;}
TD.back {border-radius: 10px;	background-color: #0A1C00;	font-size: 12px;	width: 100%;}
A.back {color: #EAFFCA;	font-weight: bold;	letter-spacing: 1px; text-decoration: none;}
A.back:hover {color: #fe4700; font-weight: bold; letter-spacing: 1px; text-decoration: none;}
.st_list {width: 100%; border-radius: 10px;	background-color: #DAFFBD;	border: solid #0A1C00; margin-top: 3px;	padding: 5px 10px 5px 10px;}
TABLE.st_list1 {border-radius: 10px; background-color: #DAFFBD;	border: 2px solid #0A1C00; margin-top: 3px;	padding: 5px 10px 5px 10px; margin: 0 auto;}
.date_zt {font-size: x-small;	text-decoration: underline; background-color: #0A1C00; color:#fe4700;}
TABLE.st_table {font-size: 11px;}
A.soderzhanie {color: #003300;	text-decoration: underline; font-size : 11px;}
A.soderzhanie:hover {color: #fe4700;	text-decoration: underline;}
/* ‘ÓÏ˚: */
textarea.form1 { color: #102F01; border: 1px solid #102F01; 	background-color: #EDFFDF; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
TABLE.form1 {font-size: 11px;	border-radius: 10px;	background-color: #DAFFBD;	border: 3px solid #102F01; color: Black;}
hr#klnd { color: #565d52; background-color: #565d52; height: 1px; border: none; } /* ‡Á‰ÂÎËÚÂÎ¸ ‚ Í‡ÎÂÌ‰‡Â */
img.event { border: 1px solid #fff; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px; margin: 0px 10px; box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.3) }


/* ¬—œÀ€¬¿ﬁŸ¿ﬂ œŒƒ— ¿« ¿ ¬ “≈ —“≈ (œ–» Õ¿¬≈ƒ≈Õ»»  ”–—Œ–¿) */
.snoska { cursor: help; text-decoration: none; position: relative; color: #000000; }
.snoska span {	font-size: 12px; font-weight: bold; text-align: center; visibility: hidden; position: absolute; bottom: 13px; padding: 5px 10px 5px 10px;
border-radius: 10px;  width: max-content; border: 1px solid #0A1C00; opacity: .99; background-color: #DAFFBD; color: #000000; box-shadow: 1px 2px 2px 0 #0A1C00; }
.snoska:hover { color: #fe4700; text-decoration: none; border: 0; /* IE6 fix */ }
.snoska:hover span { visibility: visible; }



/* ¿‰ÏËÌ-Ô‡ÌÂÎ¸ */
TABLE.change {font-size: 11px;	border-radius: 10px;	background-color: #DAFFBD;	border: solid #102F01;	padding: 2px 2px 2px 2px;	color: Black;}



/* CC€À »: */

A { color: #003300; }
A:hover { color: #fe4700;	text-decoration: underline; }

A.add_com {color: #fe4700; font-weight: bold; letter-spacing: 1px; font-size:11; background-color: #0A1C00; text-decoration: none;}
A.add_com:hover {color: #fe4700; font-weight: bold; text-decoration: underline; letter-spacing: 1px; font-size:11; background-color : #0A1C00;}

A.m {color: white; font-weight: bold; letter-spacing: 1px; font: bold 16px Arial;text-decoration: none;}
A.m:hover {background-color: White; color: Black; font-weight: bold;text-decoration: none;}

A.m1 {color: ActiveBorder; font-weight: bold; font-size: x-small;}
A.m1:hover {background-color: ActiveBorder; color: Black; font-weight: bold;}

A.m2 {color: ActiveBorder; font-weight: bold;}
A.m2:hover {background-color: ActiveBorder; color: Black; font-weight: bold;}

A.m3 {color: White;	font-weight: bold;}
A.m3:hover {background-color: White; color: Black;	font-weight: bold;}

A.wr {color: white; font-weight: bold; letter-spacing: 1px;}
A.wr:hover {background-color: White; color: Black; font-weight: bold;}

A.a1 {color: #003300;}
A.a1:hover {color: #fe4700;}

A.a1n {color: #003300; text-decoration: none;}
A.a1n:hover {color: #fe4700;}

A.a2 {color: #003300;	text-decoration: underline; font-weight: bold;}
A.a2:hover {color: #fe4700;	text-decoration: underline;	font-weight: bold;}

A.a3 {color: #003300;	text-decoration: underline; font-size : 11px;}
A.a3:hover {color: #fe4700;	text-decoration: underline;}

A.a4 {text-decoration: underline;	font-weight: bold; font-size : 11px;}
A.a4:hover {font-weight: bold;}

A.soder {color: #003300;	text-decoration: none; font-size : 12px; letter-spacing: 0.4px;}
A.soder:hover {color: #fe4700;	text-decoration: underline; letter-spacing: 0.4px; }

A.obratnaya_svyaz {color: #DAFFBD;	text-decoration: none; font-size : 10px; letter-spacing: 0.4px;}
A.obratnaya_svyaz:hover {color: #fe4700;	text-decoration: underline; letter-spacing: 0.4px; }


/* Ã≈Õﬁ ¬ ƒ≈— “ŒœÕŒ… ¬≈–—»»: */
#coolmenu { border-radius: 10px; border: 1px solid #000000; border-bottom-width: 0;
width: 100%; /*ÿËËÌ‡ ÏÂÌ˛ */
background-color: #0A1C00;  /*‘ÓÌÓ‚˚È ˆ‚ÂÚ ˇ˜ÂÈÍË*/
margin:0px; /*ÿËËÌ‡ ÓÚÒÚÛÔÓ‚*/
}
* html #coolmenu{ width: 160px;/*ÿËËÌ‡ ÏÂÌ˛ ‰Îˇ Internet Explorer*/ }
#coolmenu a {
font: bold 15px Arial; /*ÿËÙÚ ÚÂÍÒÚ‡*/
padding: 6px; /*¬ÌÛÚÂÌÌËÈ ÓÚÒÛÚÔ ÚÂÍÒÚ‡ ÒÒ˚ÎÍË ÓÚ Í‡Â‚ ˇ˜ÂÈÍË*/
padding-left: 2px;/*¬ÌÛÚÂÌÌËÈ ÓÚÒÛÚÔ ÚÂÍÒÚ‡ ÒÒ˚ÎÍË ÓÚ ÎÂ‚Ó„Ó Í‡ˇ ˇ˜ÂÈÍË*/
display: block;
width: 100%; /*ÿËËÌ‡ ˇ˜ÂÈÍË*/
color: White;  /*÷‚ÂÚ ÚÂÍÒÚ‡*/
text-decoration: none; /*œÓ‰˜ÂÍË‚‡ÌËÂ Û ÒÒ˚ÎÓÍ - ÌÂÚ*/
border-bottom: 1px solid #000000;
letter-spacing: 1px;
}
#coolmenu a.am1 { font: bold 15px Arial; padding: 6px; padding-left: 2px; display: block; width: 100%; color: #fe4700; text-decoration: none; border-bottom: 1px solid #000000; letter-spacing: 1px;}
#coolmenu a.am1:hover { background-color: #CCCCCC;	color: #000000;border-radius: 10px;}
html>body #coolmenu a { width: auto; }
#coolmenu a:hover { background-color: #CCCCCC; color: #000000; border-radius: 10px; }
#coolmenu a.am { padding: 5px; padding-left: 10px; line-height: 30%; color: ActiveBorder; font-weight: bold; font-size: 12px; width: 90%;	border-bottom: 1px solid #0A1C00;
border-top: 1px solid #0A1C00; letter-spacing: 1px; text-align : left; }
#coolmenu a.am:hover{background-color: #cccccc; color: #000000;}
#coolmenu a.cm { padding: 5px; padding-left: 10px; line-height: 30%; color: #fe4700; font-weight: bold; font-size: 12px; width: 90%; border-bottom: 1px solid #0A1C00;
border-top: 1px solid #0A1C00; letter-spacing: 1px; text-align : left; }
#coolmenu a.cm:hover{background-color: #cccccc; color: #000000;}



/* — –”√À®ÕÕ€… ”Õ»¬≈–—¿À‹Õ€… —“»À‹: */
.rounded { border: 1px solid #fff; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px; }
.rounded1 { border: 1px solid #fff; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; -khtml-border-radius: 8px; }


/* ——€À » — Œœ»—¿Õ»≈Ã Ã≈“¿-“≈√¿ DESCRIPTION ¬ œŒƒ— ¿« ≈ */
.description { color: #003300; text-decoration: underline; font-weight: bold; position: relative;	display: inline-block; outline: none; font-size: 12px; }
.description span { text-align: center; visibility: hidden; position: absolute; bottom: 25px; left: 0%; z-index: 999; width: 300px; margin-left: -57px; padding: 10px;
border: 1px solid #EDFFDF; opacity: .99; background-color: #102F01; color: #EDFFDF; -moz-border-radius: 10px;	border-radius: 10px;
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset; -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
text-shadow: 0 0px 0 rgba(255,255,255,.4);
}
.description:hover { color: #fe4700;	text-decoration: underline;	font-weight: bold; border: 0; /* IE6 fix */ }
.description:hover span { visibility: visible; }
.description span:before,
.description span:after { content: ""; position: absolute; z-index: 1000; bottom: -7px; left: 50%; margin-left: -8px; border-top: 8px solid #102F01;
border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 0; }
.description span:before { border-top-color: #102F01; bottom: -8px; }